.root {
    width:35% ;
    padding:2% 2%;
    margin: 1%;
  }
  .text{
      text-align: start;
  }
  .media {
      width:100%;
       }
  .content{
      /* display: flex; */
  }
  #root > section > div{
      width:100%
  }
  #root > section{
      width:100%
  }
  .container{
      max-width:100%!important;
      width:100%!important;
  }
  .card-container{
    width:100%;
    display: flex;
  }
  #root > section > div > div.card-container > div{
      box-shadow: 0 0 12px 2px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  }