.navbar-links a{
    cursor:pointer;
    line-height:60px;
    color:white
}
.navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 50vw;
}
.navbar-logo{
    height:60px
}
.petbox{
    color:white;
    width: 17vw;
}