.navbar-links>a{
    cursor:pointer;
    line-height:60px;
    color:white
}
.navbar-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    width: 50vw;
}
.navbar-logo{
    height:60px
}
.petbox{
    color:white;
    width: 17vw;
}
.signup-signin Button{
    height:50px;
    width:15vw
}
.signup-signin {
    display: flex;
    flex-wrap: nowrap;
    height:50px
}
.signup-signin img{
    margin: 0px 10px;
    border-radius: 50%;
}
.navbar-name,.navbar-name:hover{
    font-size: 15px;
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    white-space: nowrap
}